<div id="blogFormContainer">
    <form id="blogForm" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="blogTitle" name="title" placeholder="Your Blog Post Title:" class="materialize-textarea"
                    required></textarea>
                <label for="title"></label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="blogContent" name="content" placeholder="Your Blog Post Content:"
                    class="materialize-textarea" required></textarea>
                <label for="content"></label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button id="submitBlogPostBtn" type="submit" class="btn waves-effect waves-light">Submit Blog
                    Post</button>
            </div>
        </div>
    </form>
</div>

<script src="/js/blogs.js"></script>