<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <title>Tech Blog</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper black">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a class="navText" href="/">Home</a></li>
                <li><a class="navText" href="/dashboards">Dashboard</a></li>
                {{#if logged_in}}
                <li><a class="navText" href="/login">Login</a></li>
                {{#else}}
                <li><a class="navText" href="/logout">Logout</a></li>
                {{/if}}
            </ul>
        </div>
    </nav>
    <div id="heading">
        <h1>Tech Blog</h1>
    </div>
    <div class="white center-div">
        {{body}}
    </div>
</body>

</html>