h1 {
	color: white;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
}

h3 {
	font-family: serif;
	font-weight: 600;
}

body {
	background-color: black;
}

.navText {
	font-family: "Courier New", Courier, monospace;
	font-weight: 600;
	font-size: 1.2rem;
}

.card-title {
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 5px;
}

.blog-content {
	text-align: center;
	width: 100rem;
	border-radius: 15px;
}

.row {
	display: flex;
}

.center-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#heading {
	border-top: 0.3rem solid white;
}

.card-title {
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	padding: 0.5rem;
	text-decoration: 1px white solid underline;
}

.card-content {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 20px;
}

.card-action {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid;
	border-top: 1px solid;
}

.card-action p {
	padding: 0;
	margin: 0;
	font-weight: bold;
	margin-right: 5px;
}

.content-details {
	display: flex;
	justify-content: center;
}

.button {
	display: inline-block;
	border-radius: 4px;
	border: none;
	text-align: center;
	font-size: 15px;
	padding: 5px;
	width: 100%;
	transition: all 0.5s;
	cursor: pointer;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	font-family: monospace;
	font-weight: 600;
}

.button span:after {
	content: "\00bb";
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
	position: relative;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.viewBlogBtn {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

#addBlogPostBtn {
	width: 19rem;
	height: auto;
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: monospace;
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 2rem;
	cursor: pointer;
}

#blogFormContainer {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form#blogForm.col.s12 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
